<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>検索結果</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/search.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>

<body>
<!-- ナビバー  -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample3">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    Ansewrs
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarEexample3">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" id="question" class="form-control" value="<%= decodeURIComponent(question) %>" disabled="disabled" style="width:160%">
                    </div>
                    <!-- <button type="submit" class="btn btn-default" >検索</button> -->
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <!-- リスト -->
        <!-- style="display:none;" -->
        <div class="table-responsive" id="answertable">
            <table class="table table-striped table-hover" id="tableid">
                    <tbody>
                        <tr>
                            <td style=" width: 200px; max-width:200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%- params[0].body -%></td>
                        </tr>
                        <tr>
                            <td><%- params[1].body -%></td>
                        </tr>
                        <tr>
                            <td><%- params[2].body -%></td>
                        </tr>
                        <tr>
                            <td><%- params[3].body %></td>
                        </tr>
                        <tr>
                            <td><%- params[4].body %></td>
                        </tr>
                        <tr>
                            <td><%- params[5].body %></td>
                        </tr>
                        <tr>
                            <td><%- params[6].body %></td>
                        </tr>
                        <tr>
                            <td><%- params[7].body %></td>
                        </tr>
                        <tr>
                            <td><%- params[8].body %></td>
                        </tr>
                        <tr>
                            <td><%- params[9].body %></td>
                        </tr>
                    </tbody>
                </div> 
            </table>

                <div class="panel panel-success" id="footpanel" style="display:none">
                    <table class="table table-striped table-hover" id="tablefoot">
                        <tfoot>
                            <tr>
                                <th class="col-sm-12" style="color: #3c763d; background-color: #dff0d8;border-color: #d6e9c6;">詳細</th>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>

</html>